
<div class="background" style="background-color:<%= @item.color%>; height:100%;width:100%; position: absolute;">

  <% if @item.picture != nil%>
    <img src="<%= @item.picture%>" style="width: 100%;max-height: 100%"/>
  <%end%>
</div>

<% if params[:norefresh] != "true"%>
<script>
  $(document).ready(function() {
    return setTimeout((function() {
      window.location.reload(1);
    }), 1000);
  });

</script>
<%end%>

<%= @item.to_json%>
<% if @item.vibrate == true %>
  <script>
    $(document).ready(function() {
      window.navigator = window.navigator || {};
      navigator.vibrate(1000);
      navigator.vibrate(10000);
    });
  </script>
<%end%>