<a style="background-color:red;width:50%; float:left; height:100%; position:absolute; text-size:8em;padding-top:200px;padding-left:20px;" href="/welcome/index/left"><img width="95%" src="/leftSelect.png"/></a>
<a style="background-color:black;margin-left:50%;width:50%; height:100%; position:absolute;padding-top:200px;padding-left:20px;" href="/welcome/index/right"><img width="95%" src="/rightSelect.png"/></a>