<br/>
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    color: <%= f.text_field :color, :style =>"width:201px;" %>
  </div>
  <div class="field">
    Picture: <%= f.text_field :picture %>
  </div>
  <div class="field">
    Vibrate? <%= check_box_tag :vibrate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#item_color').minicolors();
</script>

