<% @items.each do |item| %>
  <div class="itemContainer">
    <a href="/items/<%= item.id%>/select/">
      <div class="item" style="background-color:<%= item.color%>">
        <% if item.picture != nil%>
          <img src="<%=item.picture%>" style="max-height:100%" height="100%" width="100%"/>
        <%end%>
      </div>
    </a>
    <%= button_to "X", item, :method => :delete, :confirm => "Are you sure?", :class=>"destroyItem"  %>
  </div>
<% item.color %>
<% item.picture %>
<% link_to 'Show', item %>
<% link_to 'Edit', edit_item_path(item) %>


<% end %>

<br/><br/><br/><br/><br/><br/><br/>

<div style="width:300px; border:1px solid black; margin-left:20px;" class="addBox">
  <%= render 'form' %>
</div>