// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.itemContainer{
  float: left;
  height:128px;
  width:128px;
  border:2px solid #FFFFFF;
}
.item{
  height:100%;
  width:100%;
}

.itemContainer:hover > form > div  > .destroyItem{
  visibility: visible !important;
}
.addBox {
  float: right;
  margin-top: 25px;
  margin-right: 76px;
  padding:10px;
}
.destroyItem{
  float:right;
  margin-top:-25px;
  margin-left:76px;
  right:76px;
  height:25px;
  width:25px;
  visibility: hidden;
}